.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#read {
    position: absolute;
    left: 187px;
    top: 112px;
    font-size: 41px;
    overflow: scroll;
    height: 351px;
    width: 344px;
}

ul{
  list-style-type: none;
}

img{
    height: 57px;
    position: relative;
    left: 32px;
}

#body {
    border: black solid 2px;
    width: 554px;
    height: 536px;
    margin-left: 118px;
    margin-top: -17px;
    border-radius: 100%;
}

h1 {
    color: black;
    display: inline;
    position: relative;
     top: 18px;

    font-size: 44px;
}

li a:hover {
    background-color: black;
    color:white;
}

li a {
    display: block;
    padding: 12px; 
    color: black;
    text-align: ;
    width:90px;
    text-decoration: none;
}

li{
  font-size:20px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
    position: initial;
    top: 40px;
    
}
.list {
    float: left;
    
}

input{
    
    left: 661px;
}

#foot{
  border:black solid 2px;
    position: relative;
    bottom: -90px;
}

body{
  background-image: url('http://i.istockimg.com/file_thumbview_approve/21070814/3/stock-illustration-21070814-retro-style-man-pointing-at-you.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
